.profiles__background{
    position: relative;
    height: 100vh;
    background: url("http://www.apparelnews.co.kr/upfiles/manage/202111/a58d23772ae53d2c54cf15ba5210ad41.png")
    center no-repeat;
    background-size: cover;
}